.carousel{
    width: 100vw;
    height: 70%;
    position: relative;
    display: grid;
    justify-content: end;
align-items: end;}

.b{
    position: relative;
height: 600px;
width: 500px;
overflow: hidden;
filter: blur(1px);}

img, video {
    position: absolute;
    max-width: 1000px;
    height: auto;
    left: 60px;
}

@media screen and (max-width : 575px ) { .b{height: 500px;}
.carousal_slide{left: 10px;}
}
@media screen and (max-width : 768px ) { .carousel{width:  100vw;
}}



@media screen and (min-width : 575px ) { .login_btn{display: none;
}}
@media screen and (max-width : 575px ) { .nav_cart{display: none;
}}
.carousal_slide {
	-webkit-animation: carousal_slide 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) both infinite;
	        animation: carousal_slide 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) both infinite;
}

 @-webkit-keyframes carousal_slide {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
              
    }
    25% {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
            
    }
    50% {
        -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
               
      }
      75% {
        -webkit-transform: rotate(-270deg);
                transform: rotate(-270deg);
             
      }
      100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
             
      }
  }
  @keyframes carousal_slide {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
      }
      25% {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
      }
      50% {
          -webkit-transform: rotate(-180deg);
                  transform: rotate(-180deg);
        }
        75% {
          -webkit-transform: rotate(-270deg);
                  transform: rotate(-270deg);
        }
        100% {
          -webkit-transform: rotate(-360deg);
                  transform: rotate(-360deg);
        }
  }
  
 

  .carabg {
	-webkit-animation: carabg 12s infinite alternate both;
	        animation: carabg 12s infinite alternate both;
}

@-webkit-keyframes carabg {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @keyframes carabg {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  

  